table 
{
  border-collapse:  collapse;
  border: 1px solid #606A9D;
}
.firstth 
{
  width: 16px;
}
.rowfirstth 
{
  width: 1px;
}
td
{
  position: fixed;
  height: 35px;
  width: 100px;
  border-collapse:  collapse;
  border: 1px solid #99A0C1;
  padding-right: 3px;
  padding-left: 3px;
  text-align: right;                                
  vertical-align: middle;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #FFFFFF;
  white-space: nowrap;
}
th
{
  border-collapse:  collapse;
  border: 1px solid #99A0C1;
  padding-right: 3px;
  padding-left: 3px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  font-weight: bold;                                
  font-family: Verdana, Geneva, sans-serif;         
  background-color: #F5FFF0;                        
  white-space: nowrap;                      
  height: 35px;
  position: fixed;
}                                                         
th.num 
{ 
  border-collapse:  collapse;                       
  border: 1px solid #99A0C1;                        
  padding-right: 3px;                               
  padding-left: 3px;                                
  text-align: center;                               
  vertical-align: middle;                           
  font-weight: bold;                                
  color: #FF0000;                                   
  width: 100px;                                       
  font-family: Verdana, Geneva, sans-serif;         
  background-color: #F5FFF0;                        
  white-space: nowrap;                      
  height: 35px;
  position: fixed;
}                                                         
.numcol
{                                                      
  padding-right: 3px;                               
  padding-left: 3px;                                
  text-align: center;                               
  vertical-align: middle;                           
  font-weight: bold;                                
  color: #FF0000; 
  height: 25px;                                 
  width: 100px;                                       
  font-family: Verdana, Geneva, sans-serif;         
  background-color: #F5FFF0;                        
  position: fixed;
}                                                         
th.numrow 
{                                                      
  border-collapse:  collapse;                       
  border: 1px solid #99A0C1;                        
  padding-right: 3px;                               
  padding-left: 3px;                                
  text-align: center;                               
  vertical-align: middle;                           
  font-weight: bold;                                
  color: #FF0000;                                   
  font-family: Verdana, Geneva, sans-serif;         
  height: 35px;
  background-color: #F5FFF0;                        
}                                                         
.distabtd
{                                                   
  background-color: #DDDDDD;
  text-align: right;                                
  vertical-align: middle;                           
  font-family: Verdana, Geneva, sans-serif;         
  white-space: nowrap;                      
}                                                         
.distabval
{                                                   
  background-color: #DDDDDD;
  text-align: right;                                
  vertical-align: middle;                           
  font-family: Verdana, Geneva, sans-serif;         
  white-space: nowrap;                      
}                                                         
.entabtd
{                                                   
  background-color: #FFFFFF;
  text-align: right;                                
  vertical-align: middle;                           
  font-family: Verdana, Geneva, sans-serif;         
  white-space: nowrap;                      

  border-collapse:  collapse;                       
  border: 1px solid #99A0C1;                        
  padding-right: 3px;                               
  padding-left: 3px;                                
}                                                         
.entabval
{                                                   
  width: 70px;
  height: 30px;
  background-color: #FFFFFF;
  text-align: right;                                
  vertical-align: middle;                           
  font-family: Verdana, Geneva, sans-serif;         
  white-space: nowrap;                      
}                                                         


.cLM 
{                                                    
  text-align: left;                                 
  vertical-align: middle;                           
  font-weight: bold;                                
  font-family: Verdana, Geneva, sans-serif;         
  background-color: #DCE2ED;                        
}                                                         
.cCMW 
{                                                   
  text-align: center;                               
  vertical-align: middle;                           
  color: white;                                     
  font-weight: bold;                                
  font-family: Verdana, Geneva, sans-serif;         
  background-color: #DCE2ED;                        
}
